Description=Servicio para Festival TTS

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/festival --server
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
